In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/DELL/Downloads/AgriGrow-main/data.csv')

In [3]:
df

,id,pH,EC,OC,N,P,K,S,Ca,Mg,Zn,Cu,Fe,Mn,B,Mo,Tex,District,label
0,0,7.050000,0.160000,5.560000,175.620000,38.260000,324.800000,5.210000,1884,288.000000,1.820000,0.200000,2.830000,2.800000,0.230000,0.130000,2,0,6
1,1,6.880000,0.089000,4.240000,125.440000,26.300000,103.000000,10.420000,1484,336.000000,1.620000,0.450000,6.270000,5.600000,0.230000,0.040000,2,0,7
2,2,5.600000,0.081000,2.780000,150.530000,25.700000,53.800000,7.810000,1644,504.000000,2.840000,0.440000,21.080000,24.110000,0.230000,0.090000,5,0,7
3,3,7.300000,0.164000,10.540000,188.160000,24.700000,190.400000,10.420000,1364,840.000000,7.740000,0.630000,16.420000,11.400000,0.230000,0.210000,2,0,6
4,4,7.220000,0.167000,11.410000,163.070000,40.000000,210.600000,10.420000,2004,168.000000,11.890000,0.610000,7.380000,2.910000,0.120000,0.260000,2,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2732,2732,6.531352,0.659126,17.283696,507.723181,28.210970,99.076266,464.099932,57,1.407825,0.908700,26.714008,20.307160,8.306451,0.607825,0.728876,14,1,8
2733,2733,6.570766,0.672140,17.198919,507.854437,28.107230,99.429503,462.612618,60,1.410428,0.898288,25.791129,19.426670,8.329504,0.610428,0.745608,14,1,8
2734,2734,6.989972,0.810557,16.297230,509.250472,27.003848,103.186541,446.793514,93,1.438111,0.787555,15.975375,10.061760,8.574701,0.638111,0.923573,16,1,8
2735,2735,6.737222,0.727102,16.840881,508.408768,27.669104,100.921331,456.331240,73,1.421420,0.854319,21.893534,15.708094,8.426866,0.621420,0.816274,15,1,8
2736,2736,6.215602,0.554868,17.962857,506.671674,29.042048,96.246431,476.015029,32,1.386974,0.992105,34.107325,27.360897,8.121767,0.586974,0.594831,12,1,8

In [4]:
n = 0
p = 0
k = 0
s = 0
oc = 0
ca = 0
score = 0

label = []

In [5]:
for i in range(df.shape[0]):
    if(df.loc[i]['N']<=280):
        n=1
    elif(df.loc[i]['N']>280 and df.loc[i]['N']<=560):
        n=2
    elif(df.loc[i]['N']>560):
        n=3
        
        
    
    if(df.loc[i]['P']<=10):
        p=1
    elif(df.loc[i]['P']>10 and df.loc[i]['P']<=24.6):
        p=2
    elif(df.loc[i]['P']>24.6):
        p=3
        
        
        
    if(df.loc[i]['K']<=117.6):
        k=1
    elif(df.loc[i]['K']>117.6 and df.loc[i]['K']<=280):
        k=2
    elif(df.loc[i]['K']>280):
        k=3
        
    if(df.loc[i]['S']<=10):
        s=1
    elif(df.loc[i]['S']>10 and df.loc[i]['S']<=20):
        s=2
    elif(df.loc[i]['S']>20):
        s=3
        
    if(df.loc[i]['OC']<=0.5):
        oc=3
    elif(df.loc[i]['OC']>0.5 and df.loc[i]['OC']<=0.75):
        oc=6
    elif(df.loc[i]['OC']>0.75):
        oc=9
        
    if(df.loc[i]['Ca']<=2500):
        ca=1
    elif(df.loc[i]['Ca']>2500 and df.loc[i]['Ca']<=4000):
        ca=2
    elif(df.loc[i]['Ca']>4000):
        ca=3   
        
    #score = ((n+p+k+s+oc+ca)*10)/28.35
    score = ((n+p+k+s+oc+ca)*10)/24
    
    label.append((score))

In [6]:
my_formatted_label = [ '%.3f' % elem for elem in label ]

sadf = pd.DataFrame(my_formatted_label)

sadf.columns = ['SFI'] 

sadf

        SFI
0     7.500
1     7.083
2     6.667
3     7.500
4     7.500
...     ...
2732  7.917
2733  7.917
2734  7.917
2735  7.917
2736  7.917

[2737 rows x 1 columns]

In [7]:
sadf = pd.concat((df, sadf), axis=1)
sadf.columns

Index(['id', 'pH', 'EC', 'OC', 'N', 'P', 'K', 'S', 'Ca', 'Mg', 'Zn', 'Cu',
       'Fe', 'Mn', 'B', 'Mo', 'Tex', 'District', 'label', 'SFI'],
      dtype='object')

In [8]:
sadf

,id,pH,EC,OC,N,P,K,S,Ca,Mg,Zn,Cu,Fe,Mn,B,Mo,Tex,District,label,SFI
0,0,7.050000,0.160000,5.560000,175.620000,38.260000,324.800000,5.210000,1884,288.000000,1.820000,0.200000,2.830000,2.800000,0.230000,0.130000,2,0,6,7.500
1,1,6.880000,0.089000,4.240000,125.440000,26.300000,103.000000,10.420000,1484,336.000000,1.620000,0.450000,6.270000,5.600000,0.230000,0.040000,2,0,7,7.083
2,2,5.600000,0.081000,2.780000,150.530000,25.700000,53.800000,7.810000,1644,504.000000,2.840000,0.440000,21.080000,24.110000,0.230000,0.090000,5,0,7,6.667
3,3,7.300000,0.164000,10.540000,188.160000,24.700000,190.400000,10.420000,1364,840.000000,7.740000,0.630000,16.420000,11.400000,0.230000,0.210000,2,0,6,7.500
4,4,7.220000,0.167000,11.410000,163.070000,40.000000,210.600000,10.420000,2004,168.000000,11.890000,0.610000,7.380000,2.910000,0.120000,0.260000,2,0,6,7.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2732,2732,6.531352,0.659126,17.283696,507.723181,28.210970,99.076266,464.099932,57,1.407825,0.908700,26.714008,20.307160,8.306451,0.607825,0.728876,14,1,8,7.917
2733,2733,6.570766,0.672140,17.198919,507.854437,28.107230,99.429503,462.612618,60,1.410428,0.898288,25.791129,19.426670,8.329504,0.610428,0.745608,14,1,8,7.917
2734,2734,6.989972,0.810557,16.297230,509.250472,27.003848,103.186541,446.793514,93,1.438111,0.787555,15.975375,10.061760,8.574701,0.638111,0.923573,16,1,8,7.917
2735,2735,6.737222,0.727102,16.840881,508.408768,27.669104,100.921331,456.331240,73,1.421420,0.854319,21.893534,15.708094,8.426866,0.621420,0.816274,15,1,8,7.917
2736,2736,6.215602,0.554868,17.962857,506.671674,29.042048,96.246431,476.015029,32,1.386974,0.992105,34.107325,27.360897,8.121767,0.586974,0.594831,12,1,8,7.917

In [9]:
sadf=sadf.drop(['District'], axis=1)
SA_data = sadf.to_csv('SA_Data.csv', index = True)